---
import { getSanityImageURL, formatMusicPerv } from '../../utils/helpers'
import CldImage from '../../components/CldImage.astro';
import { formatBlogPostDate } from '../../utils/helpers.js'
export interface Props {
  arts: any;
}
  
const { arts } = Astro.props;
---
  <div role="listitem" class="w-dyn-item">
    <a data-w-id="d0986bde-d065-a368-9e7d-83477550ccfd" href={`/blog/${arts.slug.current}`} class="blog-item w-inline-block">
      <div class="blog-image-wrap">
        <CldImage
	src={getSanityImageURL(arts.image).url()}
	loading="eager"
	style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
	alt=""
	sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 46vw, 21vw"
	srcset={`${getSanityImageURL(arts.image).url()} 500w,${getSanityImageURL(arts.image).url()} 800w, ${getSanityImageURL(arts.image).url()} 1000w`}
	class="blog-image"
/>

      </div>
      <div class="blog-info-content">
        <h4 class="blog-title heading-h6">{arts.title}</h4>
        <div class="author-info">
          <div>{formatBlogPostDate(arts.publishedAt)}</div>
        </div>
      </div>
    </a>
  </div>
  