---
import {settings} from "../data/settings";

import '../styles/reset.css';
import '../styles/main.css';

export interface Props {
	title?: string;
	description?: string;
	canonicalURL?: URL | string;
	image?: string;
}

const title = Astro.props.title || settings.title;
const description = Astro.props.description || settings.description;
const canonicalURL = Astro.props.canonicalURL || new URL(Astro.url.pathname, Astro.site);
const image = new URL(Astro.props.image || 'https://res.cloudinary.com/dzrynvom0/image/upload/v1674589724/social_hrxob1.png', Astro.site);
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
<!-- Favicon -->
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="icon" type="image/svg" href="/favicon.svg" />
<!-- Primary Meta Tags -->
<title>{title || settings.title} | TheFoxxStuff</title>
<meta name="title" content={title || settings.title} />

<meta name="keywords" content="thefoxxstuff, furry, music, breakcore, hardcore, happyhardcore, drumandbass, yakutsk, yakutsk music, ykt music, stuff,lapfox, lapfox trax, renard lapfox, halleylabs">

<!-- IPFS CDN -->
<!-- <link rel="stylesheet" href="https://bafybeibv4frsqi4v4htlid5yhis3e2ohmcic7nyqedzanyeuiunn2dufca.ipfs.w3s.link/reset.css">
<link rel="stylesheet" href="https://bafybeied4lzw5rb7x46cx55byc23mjvotnhcbfjwi6ijsopfu3nv4e7ly4.ipfs.w3s.link/main.css"> -->

<meta name="description" content={description || settings.description} />
<meta name="generator" content={Astro.generator} />
<!-- settingsmap -->
<link rel="sitemap" href="/sitemap.xml">
<!-- robots -->
<meta name="robots" content="index, follow">
<!-- RSS -->
<!-- <link rel="alternate" type="application/rss+xml" title={`${settings.name} Blog`} href={`${settings.url}/feed/blog.xml`}/> -->
<!-- Canonical -->
<link rel="canonical" href={canonicalURL}>

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={image} />

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();
    for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
    k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
 
    ym(92183939, "init", {
         clickmap:true,
         trackLinks:true,
         accurateTrackBounce:true
    });
 </script>
 <noscript><div><img src="https://mc.yandex.ru/watch/92183939" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
 <!-- /Yandex.Metrika counter -->

<!-- Google Fonts -->
<!-- <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
rel="preload"
href="https://fonts.googleapis.com/icon?family=Material+Icons"
as="style"
onload="this.onload=null;this.rel='stylesheet'">
<noscript>
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
    type="text/css">
</noscript>
<link
rel="preload"
href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
as="style"
onload="this.onload=null;this.rel='stylesheet'">
<noscript>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
    rel="stylesheet"
    type="text/css">
</noscript> -->


<style>
  canvas {
      display: block;
      vertical-align: bottom;
  }
  /* ---- particles.js container ---- */
  
  #particles-js {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #00000000;
      background-image: url("");
      background-repeat: no-repeat;
      background-size: 20%;
      background-position: 50% 50%;
      pointer-events: none;
  }
</style>
<div id="particles-js"></div>
<script type = 'text/javascript' src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script type = 'text/javascript'>
  particlesJS("particles-js", {
      "particles": {
          "number": {
              "value": 28,
              "density": {
                  "enable": true,
                  "value_area": 800
              }
          },
          "color": {
              "value": "#ffffff"
          },
          "shape": {
              "type": "circle",
              "stroke": {
                  "width": 0,
                  "color": "#000000"
              },
              "polygon": {
                  "nb_sides": 4
              },
              "image": {
                  "src": "",
                  "width": 100,
                  "height": 100
              }
          },
          "opacity": {
              "value": 1,
              "random": true,
              "anim": {
                  "enable": true,
                  "speed": 1,
                  "opacity_min": 0,
                  "sync": false
              }
          },
          "size": {
              "value": 1,
              "random": true,
              "anim": {
                  "enable": true,
                  "speed": 1,
                  "size_min": 1,
                  "sync": false
              }
          },
          "line_linked": {
              "enable": false,
              "distance": 150,
              "color": "#ffffff",
              "opacity": 0.4,
              "width": 1
          },
          "move": {
              "enable": true,
              "speed": 0.6,
              "direction": "none",
              "random": true,
              "straight": false,
              "out_mode": "out",
              "bounce": false,
              "attract": {
                  "enable": false,
                  "rotateX": 600,
                  "rotateY": 600
              }
          }
      },
      "interactivity": {
          "detect_on": "canvas",
          "events": {
              "onhover": {
                  "enable": false,
                  "mode": "grab"
              },
              "onclick": {
                  "enable": true,
                  "mode": "repulse"
              },
              "resize": true
          },
          "modes": {
              "grab": {
                  "distance": 400,
                  "line_linked": {
                      "opacity": 1
                  }
              },
              "bubble": {
                  "distance": 250,
                  "size": 0,
                  "duration": 2,
                  "opacity": 0,
                  "speed": 3
              },
              "repulse": {
                  "distance": 400,
                  "duration": 0.4
              },
              "push": {
                  "particles_nb": 4
              },
              "remove": {
                  "particles_nb": 2
              }
          }
      },
      "retina_detect": true
  });
</script>