---
const {post} = Astro.props;
import {formatDate} from '../utils/helpers'
---


  <a href={post.url}>
      <div class="relise">
          <div class="relise-con">
              <div class="test1"><source srcset={`${post.frontmatter.image}.webp`} type="image/webp">
                <img class="post-preview__img" src={`${post.frontmatter.image}.png`} alt={`Featured image for ${post.frontmatter.title}`} ></div>
              <div class="resile-text-box">
                  <div class="relise-text">{post.frontmatter.title}</div>
                  <div class="resile-text-2">{post.frontmatter.price}</div>
              </div>
          </div>
      </div>
  </a>




