---
import { getGalaryMainPage } from '../lib/api.js';
import { getSanityImageURL, formatMusicPerv } from '../utils/helpers';
import CldImage from '../components/CldImage.astro';

const getGalaryMainPages = await getGalaryMainPage();

export interface Props {
    picccData: any;
}

const { picccData } = Astro.props;
---

    <div class="galerys">
        <a href={`/arts/${picccData.Big1.slug.current}`}>
            <div class="galery-one-big">
                <CldImage width="420" height="420" src={getSanityImageURL(picccData.Big1.image).url()}>
            </div>
        </a>
        <div class="gal-right-real">
            <div class="galary-right-2">
                <a href={`/arts/${picccData.RightUp1.slug.current}`}>
                    <div class="phot-mini">
                        <CldImage width="200" height="200" src={getSanityImageURL(picccData.RightUp1.image).url()}>
                    </div>
                </a>
                <a href={`/arts/${picccData.RightUp2.slug.current}`}>
                    <div class="phot-mini">
                        <CldImage width="200" height="200" src={getSanityImageURL(picccData.RightUp2.image).url()}>
                    </div>
                </a>
            </div>
            <div class="galary-right-1">
                <a href={`/arts/${picccData.RightDown1.slug.current}`}>
                    <div class="phot-mini">
                        <CldImage width="200" height="200" src={getSanityImageURL(picccData.RightDown1.image).url()}>
                    </div>
                </a>
                <a href={`/arts/${picccData.RightDown2.slug.current}`}>
                    <div class="phot-mini">
                        <CldImage width="200" height="200" src={getSanityImageURL(picccData.RightDown2.image).url()}>
                    </div>
                </a>
            </div>
        </div>
    </div>