---

// const pages = [
//   {
//     slug: undefined,
//     title: 'Astro Store',
//     text: 'Welcome to the Astro store!',
//   },
//   {
//     slug: 'products',
//     title: 'Astro products',
//     text: 'We have lots of products for you',
//   },
//   {
//     slug: 'products/astro-handbook',
//     title: 'The ultimate Astro handbook',
//     text: 'If you want to learn Astro, you must read this book.',
//   }
// ];

// const { slug } = Astro.params;
// const page = pages.find((page) => page.slug === slug);
// if (!page) return Astro.redirect("/404");
// const { title, text } = page;


import Layout from '../../layouts/Page.astro'
import { getSanityImageURL } from '../../utils/helpers.js';
import { getAllArtinner } from '../../lib/api.js';
import SanityPortableText from '../../components/SanityPortableText.astro';
import CldImage from '../../components/CldImage.astro';

const art = await getAllArtinner();
const { slug } = Astro.params;
const arts = art.find((art) => art.slug.current === slug);
if (!arts) return Astro.redirect("/404");
const { title, description, image, current } = arts;

// export interface Props {
//   art: any;
// }

// export async function getStaticPaths() {
//   const allMusicInfos = await getAllArts();
//   return allMusicInfos.map (art => art.images && art.images.map((images) => ({
//     params: {
//         slug: images.slug.current,
//     },
//     props: {
//         art
//     }
// })));
// }



// const { art } = Astro.props;
// const currentImage = art.images.find(image => image.slug.current === Astro.params.slug);

const seo = {
  title: title,
  description: `Artwork: ${title} | ${description}` ,
  description: description,
  image: getSanityImageURL(image).width(1200).url(),
}
---
<Layout seo={seo}>
<div class="div-block-2"></div>
<div class="dirbox">
      <div class="dirbox">
          <h1 class="heading-isssn">{title}</h1>
          <div class="dir">
            <a href="/">
              <div id="dirdark" class="dirlink">Home</div>
          </a>
          <img class="dirdark" src="/img/icons/cheveron-right.svg">
          <a href="/arts/">
            <div class="dirlink_cor">Art's</div>
          </a>
          <img class="rightch" src="/img/icons/cheveron-right.svg">
          <a href={`/arts/${slug}`}>
            <div class="dirlink_cor">{title}</div>
          </a>
          </div>
      </div>
</div>
<div class="con">
{<CldImage class="artworkscreen" width="100%" alt={description} src={getSanityImageURL(image).url()} />}


<div class="w-row">
  <div class="column-6 w-col w-col-6">
    <h1 class="heading-ins">Description</h1>
    <SanityPortableText portableText={description} />
  </div>
  <div class="column-9 w-col w-cols w-col-6">
    <div class="w-row">
      <div class="column-6 w-col w-cols w-col-6">
      </div>
      <div class="column-6 w-col w-cols w-col-6">
        <a href={getSanityImageURL(image).url()} download="kitten" class="buttonmusic">
          <img class="m2" src="/img/icons/imagedown.svg">
          <div>Download Original</div>
      </a>
      </div>
    </div>
  </div>
</div>


  <!-- {art.images.map((images) =>
    <ArtPage art={images} />)} -->

  <!-- {art.images.map((images) =>
    <ArtPage art={images} />)} -->

  <!-- {art.images.map(images => (
    <h1>{images.title}</h1>
    ))} -->

  <!-- {art => art.images && art.images.map((images) => ({
    params: {
        slug: images.slug.current,
    },
    props: {
        art
    }
  }))
  }

  <h1>{art.images.title}</h1> -->


  <!-- <ArtPage art={art}/> -->
</Layout>
<style>
  .artworkscreen {
    margin-top: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  .buttonmusic {
    margin-right: 0px;
  }
  .w-cols {
    padding-left: 0px;
    padding-right: 0px;
  }
  .m2 {
    margin-right: 4px;
  }
</style>