---
import Layout from '../../layouts/Page.astro'
import ArtPreview from "../../components/Arts/ArtPreview.astro";
import { getAllArts } from '../../lib/api.js';
import { getSanityImageURL, formatBlogPostDate, formatMusicPerv } from '../../utils/helpers.js'
import CldImage from '../../components/CldImage.astro';

const allArtsData = await getAllArts();

const seo = {
  title: 'Arts',
  description: 'TheFoxxStuff Artworks',
}

export interface Props {
  art: any;
}


const { art } = Astro.props;
---


<Layout seo={seo}>
    <div class="div-block-2"></div>
    <div class="dirbox">
        <div class="dirbox">
            <h1 class="heading-isssn">Art's</h1>
            <div class="dir">
                <a href="/">
                    <div id="dirdark" class="dirlink">Home</div>
                </a>

                <img src="/img/icons/cheveron-right.svg" loading="lazy" alt="" class="rightch">

                <a href="/arts">
                    <div class="dirlink_cor">Art's</div>
                </a>
            </div>
        </div>
    </div>



        {allArtsData.map((art) =>
    <h1 class="heading">{formatMusicPerv(art.date)}</h1>
    <div class="relises">
        

        
        {art.images.map((image) => (
            <a href={`/arts/${image.slug.current}`}>
        <div class="photo-box">
          {<CldImage width="200" height="200" src={getSanityImageURL(image.image).url()} />}
        </div>
      </a>
))}

            
            </div>)}
            <!-- <ArtPreview images={art.images.map} /> -->

    <!-- <div class="relises">
        {allArtsData.map((art) =>
          <ArtPreview art={art} />)}
      </div> -->

    <!-- {art.images.title} -->
    <!-- {allArtsData.map((art) =>
    <h1 class="heading">{art.year}</h1>
    <div class="relises">

        
            <ArtPreview arts={art.images} /> </div>)} -->

    


    <div class="relises">
    </div>
</Layout>

<style>
    .photo-box img{
      height: 100%;
      width: 100%;
    }
    /* .photo-box img {
      width: 100%;
      transition: 0.1s all ease-in-out;
      overflow: hidden;
      margin: 0 auto;
    }
    .photo-box:hover img {
      transform: scale(1.02);
    } */
  </style>
  