---
import { formatBlogPostDate, getSanityImageURL } from '../../utils/helpers.js';
import SanityPortableText from '../../components/SanityPortableText.astro'

export interface Props {
  art: any;
}

const { art } = Astro.props;

// export interface Props {
//   image: any;
// 	content: {
// 		title: string;
// 		description: string;
// 	};
// }

// const {
// 	content: { title, description, image }
// } = Astro.props;
---

<!-- {art.images &&
  art.images.map((images) => {
    return (
    <h1>{images.title}</h1>
    );                  
   })
} -->
<h1>{art.title}</h1>
<!-- <img src={getSanityImageURL(art.image).url()} /> -->

<!-- <h1>{art.title}</h1>
{art.images.map(image => (
  <img src={getSanityImageURL(image.image).url()} />
))} -->

<!-- {art.images.map(object => (



  <div class="div-block-2"></div>
  <div class="dirbox">
      <div class="dirbox">
          <h1 class="heading-isssn">{object.title}</h1>
          <div class="dir">
            <a href="/">
              <div id="dirdark" class="dirlink">Home</div>
          </a>

          <img src="/img/icons/cheveron-right.svg">

          <a href="/arts/">
              <div class="dirlink_cor">Art's</div>
          </a>

          <img src="/img/icons/cheveron-right.svg">


      </div>
  </div>
</div>
))} -->

<style>
  .artworkscreen {
    margin-top: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
</style>