---
import type { Image } from "../../data/types/Image";
import { getSanityImageURL, formatBlogPostDate } from '../../utils/helpers';
// import Artbox from "../Arts/Artbox.astro";
import { getAllArts } from '../../lib/api.js';
import CldImage from '../../components/CldImage.astro';

export interface Props {
  image: any;
}

const { image } = Astro.props;

---
<CldImage src={getSanityImageURL(image.cover).url()} />
<!-- <article class="post-content__article">
  {images.image && <img width="720" height="420" class="post-main__img" loading="lazy" src={getSanityImageURL(images.image).url()} />}
  <h1>{images.title}</h1>
</article> -->

<!-- <a href={`/music/${art.slug.current}`}>
  <div class="relise">
      <div class="relise-con">
          <div class="test1">
            <img class="post-preview__img" src={getSanityImageURL(art.cover).url()}></div>
          <div class="resile-text-box">
              <div class="relise-text">{art.title}</div>
          </div>
      </div>
  </div>
</a> -->

<!-- <div>
  <a href={`/arts/${art.images[0].slug.current}`}>
    <div class="photo-box">
      {art.image && <img loading="lazy" src={getSanityImageURL(art.images[0].image).url()} />}
    </div>
  </a>
    <h1 class="heading">{art.year}</h1>
</div> -->



  <!-- <a href={`/arts/${images.slug.current}`}>
      <div class="relise">
          <div class="relise-con">
              <div class="test1">
                <img class="post-preview__img" src={getSanityImageURL(images.cover).url()}></div>
              <div class="resile-text-box">
                  <div class="relise-text">{art.images.title}</div>
              </div>
          </div>
      </div>
  </a> -->


<!-- <div class="relises">
  {allArtsData.map((music) =>
    <MusicPreview music={music} />)}
</div> -->


<!-- {art.images.map(image => (
  <a href={`/arts/${image.slug.current}`}>
    <div class="photo-box">
      {<img loading="lazy" src={getSanityImageURL(image.image).url()} />}
    </div>
  </a>
  ))} -->

      <!-- {art.images.map(image => (

          <a href={/arts/${image.slug.current}}>
            <img src={image.image.url} alt={image.title} />
            {image.title}
          </a>
      ))} -->



<!-- <div class="photo-box">
  {art.image && <img loading="lazy" src={getSanityImageURL(art.images[0].image).url()} />}
  {getAllArts.map((art) =>
    <Artbox art={art} />)}
</div> -->

<style>
  .photo-box img{
    height: 100%;
    width: 100%;
    transition: 0.2s
  }
  /* .photo-box img {
    width: 100%;
    transition: 0.1s all ease-in-out;
    overflow: hidden;
    margin: 0 auto;
  }
  .photo-box:hover img {
    transform: scale(1.02);
  } */
</style>
